.board {
  position: relative;
  width: 752px;
  height: 407px;
}

.board-control,
.board-stats,
.game-over-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.game-over-overlay {
  display: none;
  text-align: center;
  background: rgba(0,0,0, .5);
}
